.App {
  text-align: center;
  background: #FDFDFD;
}
.App-header{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

}
.icon{
  border-radius: 5px;
  background: inherit;
  animation: ease-out;
}
.icon:hover{
  animation: ease-in;
  animation-delay: 500ms;
  animation-duration: 500ms;
  fill-opacity: 50%;
  background: #d0d0d0;
}

.far{
  width: 100px;
  height: 42px;
  border: none;
  border-radius: 0 5px 5px 0;
  transition-duration: 0.4s;
}
.far-clicked {
  width: 100px;
  height: 42px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #EB6F4C;
}
.icons{
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.icons:hover{
  background-color: #b2b2b2;
}
